// -----------------------------------------------------------------
//! Introductory text area for pages
// -----------------------------------------------------------------

.page-intro {
	background:#fff;
}

.page-intro .container {
	max-width: 544px;
	padding:25px 24px;
	text-align: center;
	@include respond($breakpoint-padding) {
		padding:57px 24px;	
	}
	
}
/*

.page-intro__title {
	margin:0;
	font-size:1.25em;
	margin: 0;
	font-family: $font-body;
	font-weight: 700;
	@include respond($breakpoint-typography-sm) {
		font-size:1.75em;
	}
	@include respond($breakpoint-typography-md) {
		font-size:2em;
	}

}
*/

.page-intro__subtitle {
	margin:18px 0 29px 0;
}