// -----------------------------------------------------------------
//! Photo Block Styles
// -----------------------------------------------------------------

.photo-aside {
	width:100%;
	min-height:352px;
	background-color: $color-red;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding:64px 0;
	text-align: center;
	display: block;
	position: relative;
 	overflow: hidden;
	@include respond($breakpoint-padding) {
		min-height: 432px;
	}
}


.photo-aside:after {
	content:"";
	position: absolute;
	top:100%;
	left:0;
	width:200%;
	height:112px;
	background:#fff;
	transform:translateY(-50%) rotate(-2deg);
}
/*
.photo-aside:before {
	content:"";
	position: absolute;
	bottom:100%;
	right:0;
	width:200%;
	height:112px;
	background:#fff;
	transform:translateY(50%) rotate(-2deg);
}
*/

.photo-aside .container {
	max-width: 816px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.photo-aside__quote {
	color:#fff;
	font-family: $font-quote;
	font-weight: 700;
	font-size:1.5em;
	margin:0;
	@include respond($breakpoint-typography-sm) {
		font-size:2em;
	}
	@include respond($breakpoint-typography-md) {
		font-size:2.5em;
	}
}