// -----------------------------------------------------------------
//! Hamburger Setting overrides
// -----------------------------------------------------------------

$hamburger-padding-x                       : 8px;
$hamburger-padding-y                       : 4px;
$hamburger-layer-width                     : 24px;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 4px !default;
$hamburger-layer-color                     : #fff;
$hamburger-layer-border-radius             : 0px;
$hamburger-hover-opacity                   : 1;
$hamburger-hover-transition-duration       : 0.1s;
$hamburger-hover-transition-timing-function: linear !default;